.gender-year{
    margin-left: 10px;
    color: #d5b902;
}
.formAnalysis{
    background-color: #FFC107;
    margin-top: 20px;
}
.principal{
    padding-bottom: 50px;
}
.enviarAnalise{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-label{
    font-size: x-large;
    font-weight: bold;
    color: black;
}