.principal{
    background-color: rgb(37, 37, 37);
}
.title-page{
    padding-top: 30px;
    margin-left: 10px;
    color: #d5b902;
}
.form-label{
    color: #d5b902;
}
.font-color{
    color: #d5b902;
}